<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Add MPesa Transaction</title>
    <script src="js/common/axios.js"></script>
    <script
      defer
      type="module"
      src="js/transactions/add/mpesa/main.js"
    ></script>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main></main>
  </body>
</html>
